.col-md-9.col-sm-9 
  %h1= @commentable.title
  %p= @commentable.details
  %div{class: @commentable.label_class}
    = @commentable.state
  %p= @commentable.created_at
  %hr

  = render "/comments/listing_with_new"

.col-md-3.col-sm-3
  - @campaign.reward_levels.each do |reward_level|
    .well
      %p= reward_level.title
      %h4 $ #{reward_level.amount}
      %p= reward_level.details 
      %p= link_to "Pledge", new_reward_level_order_path(reward_level), class: "btn btn-default"